.header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
    background-color: var(--main-header-color);
    color: var(--main-text-color-invert);
}
  
.logo {
    margin: 0 20px;
    font-size: 28px;
    font-weight: var(--main-font-weight);
}

.nav-items {
    display: flex;
}

.nav-item {
    margin: 0 30px;
    margin-top: 10px;
    cursor: pointer;
}

.professor {
    cursor: pointer;
}

a{
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: underline;
}