.container {
    display: grid;
    /* grid-template-columns: repeat(n, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 24px;
    padding: 18px;
}


.text_style{
    font-family:  var(--main-font);
    font-weight: var(--main-font-weight);
    padding-left: 20px;
    font-size: var(--default-text-size);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.text_style_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .stay-on-right {
    margin: 0;
    padding-right: 20px;
    font-family:  var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: var(--default-text-size);
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .circle-green {
    background-color: yellow; 
    width: 40px;
    height: 40px; 
    border-radius: 50%;        /* This makes it a circle */
    display: inline-block;
    margin-right: 10px;
    
  }

  .circle-red {
    background-color: red; 
    width: 40px;
    height: 40px; 
    border-radius: 50%;        /* This makes it a circle */
    display: inline-block;
    margin-right: 10px;
    
  }
  

.banner{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;

    background-color: var(--main-background-color);
    color: var(--main-text-color-invert);
    font-family: var(--main-font);

    margin-bottom: 20px;
    font-size: var(--title-text-size);
    height: 200px;
    font-weight: var(--main-font-weight);
}