.container {
    display: grid;
    /* grid-template-columns: repeat(n, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 24px;
    padding: 18px;
}

.text_style{
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    padding-left: 20px;
    font-size: var(--default-text-size);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.banner{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;

    background-color: var(--main-background-color);
    color: var(--main-text-color-invert);
    font-family: var(--main-font);

    margin-bottom: 20px;
    font-size: var(--title-text-size);
    height: 200px;
    font-weight: var(--main-font-weight);
}