.container-button {
    display: grid;
    /* grid-template-columns: repeat(n, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 24px;
    padding: 18px;
}

.container_DEFAULT {
    background: var(--card-background-color);
    border-radius: 20px;
    border-width: 0;
    left: calc(350px + 100vw - 1024px)!important;
    height: 100px; 
    cursor: pointer;
}

.button_text {
    font-size: var(--card-text-size);
    font-weight: var(--main-font-weight);
    color:var(--main-text-color);
    font-family: var(--main-font);
}