/* https://medium.com/@toshvelaga/using-global-css-variables-in-react-js-216f03fcdc56 */

:root{
    --main-font: 'Josefin Sans';
    --main-background-color: #599CFF;

    --card-background-color: #C5E4E8;
    --card-text-size: 5vw;
    --title-text-size: 9vw;
    --header-text-size: 2.6vw;
    --default-text-size: 2.6vw;

    --main-text-color: black;
    --main-text-color-invert: white;
    --main-font-weight: bold;
    --main-header-color: #3D6A82;
}