/* https://medium.com/@toshvelaga/using-global-css-variables-in-react-js-216f03fcdc56 */

:root{
    --main-font: 'Josefin Sans';
    --main-background-color: #599CFF;

    --card-background-color: #C5E4E8;
    --card-text-size: max(5vw, 18px);
    --title-text-size: max(9vw, 18px);
    --header-text-size: max(2.6vw, 18px);
    --default-text-size: max(2.6vw, 18px);

    --main-text-color: black;
    --main-text-color-invert: white;
    --main-font-weight: bold;
    --main-header-color: #3D6A82;
}