.container {
    display: grid;
    /* grid-template-columns: repeat(n, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 24px;
    padding: 18px;
}

.text_style-settings{
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    padding-left: 20px;
    font-size: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.var-container{
    display: flex;
    background-color: slategray;
}